*,
*::before,
*::after {
  font-family: sans-serif;
  font-weight: 700;
}

body {
  padding: 15px;
  margin: 15px;
  background-image: url(back-img.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh; 
  grid-template-columns: repeat(4, 100px); 
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid  button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid  button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  background-color: rgba(15, 81, 112, 0.788);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  grid-column: 1 / -1;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.equal-radius {
  border-bottom-right-radius: 20px;
}

.dot-radius {
  border-bottom-left-radius: 20px;
}
